{{#each flightData }}
<div class="results-container">
  <h3>Departing Flights</h3>
  {{#each outboundFlights }}
  <div class="outbound">
    <p>departing city: {{originCity}}</p>
    <p>destination city: {{destCity}}</p>
    <p>departure time: {{departTime}}</p>
    <p>arrival time: {{arriveTime}}</p>
  </div>
  {{/each}}
  <p>total departure flight time: {{obDuration}}</p>
  <h3>Returning Flights</h3>
  {{#each inboundFlights}}
  <div class="inbound">
    <p>return city: {{originCity}}</p>
    <p>return destination city: {{destCity}}</p>
    <p>return departure time: {{departTime}}</p>
    <p>return arrival time: {{arriveTime}}</p>
  </div>
  {{/each}}
  <p>total return flight time: {{ibDuration}}</p>
  <p>price: ${{price}}</p>
  <a target="_blank" href="{{deep_link}}">Link to Book Flight</a>
</div>
{{/each}}
