<div class="results-container">
  {{#each outboundFlights }}
  <div class="outbound">
    <p>outbound duration: {{obDuration}}</p>
    <p>outbound origin city: {{obCity}}</p>
    <p>outbound destination city: {{obDestCity}}</p>
    <p>outbound departure time: {{obDepartTime}}</p>
    <p>outbound arrival time: {{obArriveTime}}</p>
  </div>
  {{/each}}
  {{#each inboundFlights}}
  <div class="inbound">
    <p>inbound duration: {{obDuration}}</p>
    <p>inbound origin city: {{obCity}}</p>
    <p>inbound destination city: {{obDestCity}}</p>
    <p>inbound departure time: {{obDepartTime}}</p>
    <p>inbound arrival time: {{obArriveTime}}</p>
  </div>
  {{/each}}
  <p>price: ${{price}}</p>
  <a target="_blank" href="{{deepLink}}">Link to Book Flight</a>
</div>
